<p>chat works!</p>
<div class="chat-page">

  <div class="container">

    <!-- Chat Header -->
    <div class="chat-header text-center">
      <h1>AI College Assistant</h1>
      <div class = "status">
          🟢 Online
      </div>
      <p>
        Ask anything about our college
      </p>
    </div>


    <!-- Chat Box -->
    <div class="chat-box shadow">
        <div
            class ="message"
            *ngFor ="let msg of message"
            [ngClass] ="msg.sender">
              
              <div class ="avatar">
              <span *ngIf="msg.sender === 'AI'">🤖</span>
              <span *ngIf="msg.sender === 'user'">👤</span>
              </div>

              <div class ="bubble">
             
                {{msg.text}}
              </div>
            
        </div>
        <!--Ai typing part-->
        <div class ="message AI"
             *ngIf = "isTyping">
              <div class ="avatar">
                🤖
              </div>
              <div class ="bubble">
                AI is Typing...
              </div>
        </div>

      <!-- Bot Message 
      <div class="message bot">
        <div class="bubble">
          Hello 👋  
          I am your AI College Assistant.
          How can I help you today?
        </div>
      </div>


       User Message 
      <div class="message user">
        <div class="bubble">
          Tell me about Software Engineering.
        </div>
      </div>


       Bot Reply 
      <div class="message bot">
        <div class="bubble">
          Software Engineering is a degree program
          focused on designing and developing software systems.
        </div>
      </div>-->


    </div>


    <!-- Input Area -->
    <div class="input-area">

      <input 
        type="text"
        class="form-control"
        placeholder="Type question Here...."
        [(ngModel)]="User_text"
        (keydown.enter)="send_text()"
      >


      <button class="btn btn-primary" (click)="send_text()">
        ➤
      </button>

    </div>


  </div>

</div>